@use "./variables.scss";

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    width: calc(100% - 20px);
  }

  @media (min-width: 1440px) {
    width: calc(100% - 180px);
  }
}
