@use "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  // object-fit: contain;
}

a[aria-current="page"] {
  pointer-events: none;
}

br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}
