@use "./variables.scss";

.main-header {
  @media (min-width: variables.$desktop-width) {
    position: relative;

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      right: 0;
      top: 0;
      width: 50%;
      height: calc(100% + 562px);
      background-color: rgba(104, 183, 56, 0.85);
    }

    &::after {
      position: absolute;
      z-index: -2;
      content: "";
      right: 0;
      top: 0;
      width: 50%;
      height: calc(100% + 562px);
      background-image: url("../img/promo-background-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right bottom;
    }

    @media (min-resolution: 2dppx) {
      &::after {
        background-image: url("../img/promo-background-desktop@2x.jpg");
      }
    }

    &--inner {
      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
  }
}

.main-header__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 10px 20px 17px 20px;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 3fr;
    column-gap: 22px;
    padding-bottom: 13px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr 50%;
    column-gap: 22px;
    padding-top: 53px;
    padding-bottom: 20px;
  }
}
