@use "./variables.scss";

.promo-block {
  position: relative;
  padding: 23px 20px 10px 20px;
  color: #ffffff;

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 188px);
    background-color: rgba(104, 183, 56, 0.85);
  }

  &::after {
    position: absolute;
    z-index: -2;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 188px);
    background-image: url("../img/promo-background-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-resolution: 2dppx) {
    &::after {
      background-image: url("../img/promo-background-mobile@2x.jpg");
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding-top: 45px;
    padding-bottom: 1px;
    color: #000000;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  @media (min-width: variables.$desktop-width) {
    min-height: 603px;
    padding-top: 11px;
    padding-bottom: 41px;
  }
}

.promo-block__container {
  display: flex;
  flex-direction: column;
}

.promo-block__text-wrapper {
  width: 100%;
  margin: 4px auto 29px auto;

  @media (min-width: variables.$tablet-width) {
    max-width: 470px;
    margin: 0 auto 49px 88px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 80px auto 51px 80px;
  }
}

.promo-block__title {
  margin-bottom: 25px;
  text-align: center;
  color: #ffffff;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 41px;
    text-align: left;
    color: #000000;
  }
}

.promo-block__slogan {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    margin-left: 2px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 0;
  }
}

.promo-block__link {
  padding: 11px 10px 11px 10px;
  order: 1;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    min-width: 244px;
    max-width: 38%;
    padding: 14px 10px 14px 10px;
    margin: 0 auto 0 91px;
    order: 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 80px;
  }
}

.promo-block__image-wrapper {
  width: 100%;
  margin-bottom: 3px;

  @media (min-width: variables.$tablet-width) {
    z-index: -1;
    margin-bottom: -83px;
    transform: translateY(-83px);
  }

  @media (min-width: variables.$desktop-width) {
    position: absolute;
    top: 10px;
    left: calc(50% + 114px);
    width: auto;
    margin-bottom: 0;
    transform: translate(-50%, 0);
  }
}

.promo-block__image {
  display: block;
  margin: 0 auto;
}
