@use "./variables.scss";

.develop {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  transition: all 0.3s;

  @media (min-width: variables.$tablet-width) {
    min-width: 168px;

    &:hover {
      color: variables.$footer-link-color-hover-focus;
    }
  }

  &:focus-visible {
    color: variables.$footer-link-color-hover-focus;
    outline: variables.$outline-focus;
    transition-duration: 0s;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      color: variables.$footer-link-color-hover-focus;
      outline: variables.$outline-focus;
      transition-duration: 0s;
    }
  }

  &:active {
    color: variables.$footer-link-color-hover-focus;
    opacity: variables.$opacity-link-active;
    transition-duration: 0.1s;
  }
}

.develop__text {
  margin-right: 18px;
}

.develop__icon-logo-htmlacademy {
  flex-shrink: 0;
  height: 37px;
}
