@use "./variables.scss";

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials-list__item,
.socials-list__link {
  position: relative;
  min-width: 28px;
  min-height: 22px;
}

.socials-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list__link {
  text-decoration: none;
  transition: all 0.3s;

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 28px;
    height: 22px;
    mask-repeat: no-repeat;
    mask-size: 28px 22px;
    mask-position: center;
    background-color: #666666;
    transition: all 0.3s;
  }

  &--vkontakte {
    &::before {
      mask-image: url("../img/svg/icon/vkontakte.svg");
    }
  }

  &--youtube {
    &::before {
      mask-image: url("../img/svg/icon/youtube.svg");
    }
  }

  &--telegram {
    &::before {
      mask-image: url("../img/svg/icon/telegram.svg");
    }
  }

  @media (min-width: variables.$tablet-width) {
    &:hover::before {
      background-color: variables.$footer-link-color-hover-focus;
    }
  }

  &:focus-visible {
    outline: variables.$outline-focus;
    transition-duration: 0s;
  }

  &:focus-visible::before {
    background-color: variables.$footer-link-color-hover-focus;
    transition-duration: 0s;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: variables.$outline-focus;
      transition-duration: 0s;
    }

    &:focus::before {
      background-color: variables.$footer-link-color-hover-focus;
      transition-duration: 0s;
    }
  }

  &:active::before {
    background-color: variables.$footer-link-color-hover-focus;
    opacity: variables.$opacity-link-active;
    transition-duration: 0.1s;
  }
}
