@use "./variables.scss";

.form-control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form-control__text {
  position: relative;
  padding: 6px 6px 6px 45px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    transition: all 0.3s;
  }
}

.form-control--radio .form-control__text {
  &::before {
    border-radius: 30px;
  }
}

.form-control__input[type="checkbox"]:checked+.form-control__text::after {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../img/svg/icon/tick.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  transition: all 0.3s;
}

.form-control__input[type="radio"]:checked+.form-control__text::after {
  position: absolute;
  top: 50%;
  left: 8.5px;
  transform: translateY(-50%);
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  transition: all 0.3s;
}

@media (min-width: variables.$tablet-width) {
  .form-control:hover .form-control__text::before {
    border-color: variables.$input-control-border-color-hover-active;
  }
}

.form-control__input:focus-visible+.form-control__text::before {
  outline: variables.$outline-focus;
  transition-duration: 0s;
}

@supports not selector(:focus-visible) {
  .form-control__input:focus+.form-control__text::before {
    outline: variables.$outline-focus;
    transition-duration: 0s;
  }
}

.form-control:active .form-control__text::before {
  border-color: variables.$input-control-border-color-hover-active;
  opacity: variables.$opacity-active;
  transition-duration: 0.1s;
}

.form-control__input:checked:active+.form-control__text::after {
  opacity: variables.$opacity-active;
  transition-duration: 0.1s;
}

// Неактивное состояние
.form-control.disabled {
  opacity: variables.$input-label-opacity-disabled;
  pointer-events: none;
}
